.Options {
  &__pane {
    position: relative;
    height: 100vh;
    &__full-centered {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.Options__paypal {
  height: 400px;
  width: 460px;
}
